*{
    font-family: Arial, sans-serif;
}
body {
    margin: 0%;
    display: grid;
    background: linear-gradient(264deg, #380891, #F23869);
    

    grid-template-areas: 
        'header header header header header header'
        'nav nav nav nav nav nav'
        'main main main main main main'
        'section section section section section section'
        'footer footer footer footer footer footer';
        
}

 main, section{
  background: linear-gradient(264deg, #380891,#F23869);
}
header {
    border-radius: 7px 5px;
    box-shadow: 7px 7px 3px 3px rgba(0, 0, 0, 0.284);
    margin: 1%;
    background: linear-gradient(264deg, #380891, #F23869);
    grid-area: header;
    height: auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
hr{
    background-color: black;
}

/*o codigo de antes
nav{
    display: flex;
    grid-area: nav;
    height: 6vh;
    margin-top: -69px;
    margin-right: 133px;
    justify-content:center;
    gap: 169px;
    cursor: pointer;
    color: #FFFFFF;
}

nav > span{
    text-align: center;
    
}
nav > span:hover{
    color: black;

    

    font-weight: 500;
    text-decoration: underline;
}
*/
.video{
    min-width: 100%;
    min-height: 100%;
    transform: rotate(90deg) translateX(-67%);

}
main {
    grid-area: main;
    height: 100%;
}

main > h1{
    margin-left: 78px;
    border: 0;
    border-radius: 10px;
    background-color: #FFFFFF;
    width: 23%;
    padding: 10px 0px;
    text-align: center;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.127);
    margin-top: 1px;
}
#produtosprincipal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.produto {
    display: inline-block;
    width: 250px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-image: linear-gradient(to right, #382633, #272A34);
    cursor: pointer;
    border-radius: 10px;
    border: 0;
    transition: 0.1s ease-in-out;
    margin-left: 5px;
    
}
.produto:hover{
    box-shadow: 7px 7px 3px 3px rgba(0, 0, 0, 0.284);
}
.produto img {
    max-width: 100%;
}

.produto h2 {
    font-size: 18px;
    margin-top: 10px;
}

.produto p {
    font-size: 14px;
}

.produto .preco {
    font-weight: bold;
    color: #008000; 
}

.produto .botao-de-compra {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.produto .botao-de-compra:hover {
    background-color: #45a049; 
}

footer {
    grid-area: footer;
    height: auto;
    margin-bottom: 5%;
}

.logo-titolo {
    display: flex;
    align-items: left;
    max-width: fit-content; 
    padding: 0; 
    margin: 0; 
}

.logo-titolo img {
    padding: 0;
    width: 26%;
    height: auto; 
}
/*aaaaaaaaaaaaaaaaaaaaa*/
#menunav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-items: center;
}

.menu { 
    padding: 0;
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    justify-content:center;
    gap: 25px;
    cursor: pointer;
    color: #FFFFFF;
    
}

.menu a:hover {
    border-radius: 7px 5px;
    background: linear-gradient(264deg, #380891, #F23869);
    background-size: cover;
    transition: filter 1s;
    filter: brightness(1.3);
    color: #000000;
    box-shadow: 7px 7px 3px 3px rgba(0, 0, 0, 0.284);
}

.menu li {
    list-style: none;
    flex-grow: 1;
    padding: 0px;
    margin: 0px;
    width: auto;
    text-align: center;
}

.menu li a {
    text-decoration: none;
    color: #ffffff;
    font-size: large;
    display: block;
    padding: 8px;
    overflow: hidden;
    list-style-type: none;
    width: auto;
    margin: 0 auto;
    border: 2px solid;
    border-radius: 7px 5px;
}
#pesquisa-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -33.33%;
}
/*aaaaaaaaaaaaaaaaa*/
.pesquisa-barra {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    max-width: 800px;
}


.pesquisa-barra label {
    margin-right: 10px;
}

.pesquisa-barra input {
    width: 1000px; 
    max-width: 1000px;
    border-radius: 10px;
    height: 20%;
    border: 1px solid #DFE3E9;
    border-radius: 7px 5px;
    padding: 10px 20px;
}
.pesquisa-barra input:hover{
    border: 3px solid #e9e8df96 ;
    box-shadow: 7px 7px 3px 3px rgba(0, 0, 0, 0.284);
}

.user-info {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1%;
}

.user-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid #000000;
    box-shadow: 7px 7px 3px 3px rgba(0, 0, 0, 0.284);
    
}

.login-button {
    color: black;
    border: 2px solid;
    border-radius: 7px 5px;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
    box-shadow: 7px 7px 3px 3px rgba(0, 0, 0, 0.284);
}

section{
    background-color: rgb(65, 12, 114);
    width: 100vw;
    height: 58vh;
    
}
#csgo{
    display: inline-block;
    border: 1px solid black;
    width: 250px;
    border-radius: 8px;
    margin: 10px;
    margin-left: 5px;
    color: white;
    background-color: #382633;
    border: 0;
    cursor: pointer;
    transition: 0.3s ease;
}
#csgo:hover{
    background-image: linear-gradient(to right,#382633,#272A34);
    box-shadow: 7px 7px 7px 7px #2536593f;
}
#csgo > img{
    max-width: 100%;
    
}
#csgo > p > b{
    margin-left: 18px;
}
#centro{
    text-align: center;
    padding: 10px 20px;
    margin-top: -10px;
}
#cor{
    color: #b5b5b5;
    margin-left: 10px;
    border-left: 5px solid black;
    border-color: rgb(235, 75, 75);
    padding-left: 4px;
}


#csgo > button{
    border-radius: 4px;
    padding: 10px 20px;
    background-color: rgb(71, 164, 231);
    border: 0;
    margin: 10px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center
}
#csgo > button:hover{
    background-color:  rgb(61, 146, 207) ;
}
#csgo > button > img{
    max-width: 100%;
}
ion-icon{
   padding-right: 13px;
   font-size: 20px;
}

