* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #030226;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #110559 0%, #3621BF 100%);
    border-radius: 20px;
    width: 491px;
    height: 500px;
    margin: auto;
    margin-top: 97px;
}

.container h2 {
    margin-top: -30px;
    color: white;
    font-family: sans-serif;
    font-size: 31px;
}

.container form {
    display: flex;
    margin: 10px;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container label {
    margin-right: 282px;
    color: white;
    font-family: sans-serif;
}

.container input {
    background-color: #0302261f;
    margin: 10px;
    width: 300px;
    padding: 5px; 
    border-radius: 8px;
    border: 3px solid rgba(201, 200, 200, 0.781);
    outline: none;
}
.container input:hover{
    border: 2px solid rgba(211, 205, 205, 0.726);
}

.container a {
    text-decoration: none;
    margin-top: 20px;
    background-color: transparent;
    padding: 15px 79px;
    border-radius: 9px;
    border: 2px solid white;
    color: white;
    font-family: sans-serif;
}
.container a:hover {
    border: 0px;
    border-radius: 10px;
    background-color: #a7284ac2;
}

#mail {
    margin-bottom: 20px;
}

#senha {
    margin-bottom: 40px;
}